In [1]:
import pandas as pd
import numpy as np
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm
import seaborn as sns

In [2]:
df = pd.read_csv("C:\\Users\\yashs\\OneDrive\\Desktop\\Python\\New folder\\FastFood (1).csv")

In [3]:
df.head()

   FastFoodNames   Sales
0              1  2600.0
1              1  1483.8
2              1  1195.0
3              1  1470.0
4              1   903.4

In [6]:
df["FastFoodNames"].unique()

array([1, 2, 3, 4], dtype=int64)

In [7]:
df["FastFoodNames"]=pd.Categorical(df["FastFoodNames"])

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   FastFoodNames  24 non-null     category
 1   Sales          24 non-null     float64
dtypes: category(1), float64(1)
memory usage: 536.0 bytes

In [9]:
formula = "Sales~C(FastFoodNames)"
model = ols(formula,df).fit()
aov_table = anova_lm(model)
print(aov_table)

                    df        sum_sq        mean_sq         F    PR(>F)
C(FastFoodNames)   3.0  2.771659e+06  923886.427222  1.894999  0.162978
Residual          20.0  9.750783e+06  487539.152833       NaN       NaN

In [10]:
0.162978 < 0.05

False